<main>
	<div class="container">
	  <div class="form-section">
		<h2>ADD VEGIES</h2>
  
		<div class="form-group">
		  <label for="name">Name:</label>
		  <input type="text" id="name" [(ngModel)]="name" name="name" required />
		</div>

        <div class="form-group">
            <label for="color">Color:</label>
            <input type="text" id="color" [(ngModel)]="color" name="color" required />
          </div>


        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" id="status" [(ngModel)]="status" name="status" required />
        </div>
  
		<div class="form-group">
		  <label for="price">Price:</label>
		  <input type="number" id="price" [(ngModel)]="price" name="price" required />
		</div>
  
		
  
		<button class="btn" (click)="addVegie()"> ADD </button>
	  </div>
  
	  <div class="table-section">
		<h1>Vegetable List</h1>
		<table class="table">
		  <thead>
			<tr>
			  <th>Name</th>
			  <th>Color</th>
              <th>Status</th>
			  <th>Price</th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let vegies of vegetable">
			  <td>{{ vegies.name }}</td>
			  <td>{{ vegies.color }}</td>
              <td>{{ vegies.status }}</td>
			  <td>{{ vegies.price }}</td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
  </main>
  