<p class="header">--- SUKUCEE'S WORK ---</p>

<div class="container">
  <div class="Listings">
    <ul>
      <li><a href="/student-list">Student List</a></li>
      <li><a href="/employee-list">Employee List</a></li>
      <li><a href="/fruit-list">Fruit List</a></li>
      <li><a href="/course-list">Course List</a></li>
      <li><a href="/book-list">Book List</a></li>
      <li><a href="/city-list">City List</a></li>
      <li><a href="/movie-list">Movie List</a></li>
      <li><a href="/carmodel-list">Car Model List</a></li>
      <li><a href="/product-list">Product List</a></li>
      <li><a href="/subject-list">Subject List</a></li>
      <li><a href="/country-list">Country List</a></li>
      <li><a href="/sport-list">Sport List</a></li>
      <li><a href="/vegetable-list">Vegetable List</a></li>
      <li><a href="/animal-list">Animal List</a></li>
      <li><a href="/tool-list">Tool List</a></li>
      <li><a href="/language-list">Language List</a></li>
      <li><a href="/game-list">Game List</a></li>
      <li><a href="/software-list">Software List</a></li>
      <li><a href="/contact-list">Phone Contact List</a></li>
      <li><a href="/musicplaylist-list">Music PlayList</a></li>
      <li><a href="/menu-list">Menu List</a></li>
      <li><a href="/grocery-list">Grocery List</a></li>
      <li><a href="/classroom-list">Classroom List</a></li>
      <li><a href="/inventory-list">Inventory List</a></li>
      <li><a href="/lecture-list">Lecture List</a></li>
      <li><a href="/stationery-list">Stationery List</a></li>
      <li><a href="/flower-list">Flower List</a></li>
      <li><a href="/destination-list">Destination List</a></li>
      <li><a href="/lappy-list">Laptop List</a></li>
      <li><a href="/lappyspec-list">Laptop specs List</a></li>
      <li><a href="/computer_hardware-list">Computer Hardware List</a></li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
