body {
  font-family: Bahnschrift, Arial;
  margin: 0;
  padding: 0;
}

p{
  font-family: Stencil;
}

.header {
  text-align: center;
  background-color: #ffccdd;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  height: 100vh;
}

.Listings {
  width: 15%;
  background-color: #f2a5cb;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

.Listings::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.Listings ul {
  list-style-type: none;
  border-radius: 10px;
  padding: 0;
}

.Listings li {
  background-color: #ff68b4;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  width: 80%;
  font-family: Bahnschrift, Arial;
  margin: 7px auto;
}

.Listings li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.Listings li:hover {
  background-color: #ff6699;
}

.content {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
