<main>
	<div class="container">
	  <div class="form-section">
		<h2>Game Listing</h2>

		<div class="form-group">
		  <label for="name">Name:</label>
		  <input type="text" id="name" [(ngModel)]="name" name="name" required />
		</div>


        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" id="type" [(ngModel)]="type" placeholder="(Mobile or Desktop)" name="type" required />
        </div>

        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" id="genre" [(ngModel)]="genre" name="genre" required />
        </div>

        <div class="form-group">
            <label for="availability">Availability:</label>
            <input type="text" id="availability" [(ngModel)]="availability" placeholder="(Premium or Free)" name="availability" required />
        </div>
          
  
		<button class="btn" (click)="addGame()">ADD</button>
	  </div>
  
	  <div class="table-section">

		<h1>Game List</h1>

		<table class="table">
		  <thead>
			<tr>
			  <th>Name</th>
              <th>Type</th>
              <th>Genre</th>
              <th>Availability</th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let games of Game">
			  <td>{{ games.name }}</td>
			  <td>{{ games.type }}</td>
              <td>{{ games.genre }}</td>
              <td>{{ games.availability }}</td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
  </main>
  

